.item.active>img {
    display: block;
    margin: auto;
    margin-bottom: 13.6rem;
}

h3 {
    text-align: center;
}

ol.carousel-indicators {
    top: 23rem;
}

ol.carousel-indicators>li {
    border: 0.2rem solid #8D8D8D;
}

.validationError {
    margin-bottom: 5px;
    padding: 5px;
    background: #FFD6D6;
    color: #FF494C;
    border-radius: 3px;
}

.successMessage {
    margin-bottom: 5px;
    padding: 5px;
    background: #C9FFCF;
    color: #41AD4E;
    border-radius: 3px;
}