<p></p>
<div class="container">
    <img src="{{details.image}}" class="centered">
    <h3 class="text-center">{{details.name}}</h3>
    <p>&nbsp;</p>
    <h4 class="text-left">Size: {{details.size}}</h4>
    <h4 class="text-left">Display size: {{details.displaySize}}</h4>
    <h4 class="text-left">OS: {{details.os}}</h4>
    <h4 class="text-left">Storage: {{details.storage}}</h4>
    <h4 class="text-left">Memory : {{details.memory}}</h4>
    <h4 class="text-left">Camera: {{details.cameraSize}}</h4>
    <h4 class="text-left">Chipset: {{details.chipset}}</h4>
    <h4 class="text-left">BatteryMaH: {{details.batteryMaH}}</h4>
    <h4 class="text-left">Price: {{details.price}}</h4>
    <button class="btn btn-success btn-lg ">Add to cart</button>
</div>