<div class="container" *ngIf="details != undefined">
    <img src="{{details.image}}" class="centered">
    <h3 class="text-center">{{details.name}}</h3>
    <h4 class="text-left">Size: {{details.size}}</h4>
    <h4 class="text-left">Display size: {{details.displaySize}}</h4>
    <h4 class="text-left">OS: {{details.os}}</h4>
    <h4 class="text-left">Storage: {{details.storage}}</h4>
    <h4 class="text-left">Memory : {{details.memory}}</h4>
    <h4 class="text-left">Camera: {{details.cameraSize}}</h4>
    <h4 class="text-left">Chipset: {{details.chipset}}</h4>
    <h4 class="text-left">BatteryMaH: {{details.batteryMaH}}</h4>
    <h4 class="text-left">Price: {{details.price}}</h4>
    <button class="btn btn-success btn-lg ">Add to cart</button>
</div>

<div class="container" *ngIf="promoDetails != undefined">
    <img src="{{promoDetails.image}}" class="centered">
    <h3 class="text-center">{{promoDetails.name}}</h3>
    <h4 class="text-left">Size: {{promoDetails.size}}</h4>
    <h4 class="text-left">Display size: {{promoDetails.displaySize}}</h4>
    <h4 class="text-left">OS: {{promoDetails.os}}</h4>
    <h4 class="text-left">Storage: {{promoDetails.storage}}</h4>
    <h4 class="text-left">Memory : {{promoDetails.memory}}</h4>
    <h4 class="text-left">Camera: {{promoDetails.cameraSize}}</h4>
    <h4 class="text-left">Chipset: {{promoDetails.chipset}}</h4>
    <h4 class="text-left">BatteryMaH: {{promoDetails.batteryMaH}}</h4>
    <h4 class="text-left">Price: {{promoDetails.price}}</h4>
    <button class="btn btn-success btn-lg ">Add to cart</button>
</div>