<div class="container" *ngIf="details != undefined">
    <img src="{{details.imageUrl}}" class="centered">
    <h3 class="text-center">{{details.name}}</h3>
    <h4 class="text-center">Size: {{details.size}} inches</h4>
    <h4 class="text-center">Color: {{details.color}}</h4>
    <h4 class="text-center">OS: {{details.os}}</h4>
    <h4 class="text-center">Processor: {{details.processor}}</h4>
    <h4 class="text-center">Storage: {{details.storage}} GB</h4>
    <h4 class="text-center">Memory : {{details.memory}} GB</h4>
    <h4 class="text-center">Camera: {{details.camera}}</h4>
    <h4 class="text-center">Model: {{details.model}}</h4>
    <h4 class="text-center">BatteryMaH: {{details.battery}} mAh</h4>
    <h4 class="text-center">Price: {{details.price}}</h4>
    <h4 class="text-center">Resolution: {{details.resolution}}</h4>
    <h4 class="text-center">Description: {{details?.description}}</h4>
    <button class="btn btn-success btn-lg ">Add to cart</button>
</div>

<div class="container" *ngIf="promoDetails != undefined">
    <img src="{{promoDetails.image}}" class="centered">
    <h3 class="text-center">{{promoDetails.name}}</h3>
    <h4 class="text-left">Size: {{promoDetails.size}}</h4>
    <h4 class="text-left">Display size: {{promoDetails.displaySize}}</h4>
    <h4 class="text-left">OS: {{promoDetails.os}}</h4>
    <h4 class="text-left">Storage: {{promoDetails.storage}}</h4>
    <h4 class="text-left">Memory : {{promoDetails.memory}}</h4>
    <h4 class="text-left">Camera: {{promoDetails.cameraSize}}</h4>
    <h4 class="text-left">Chipset: {{promoDetails.chipset}}</h4>
    <h4 class="text-left">BatteryMaH: {{promoDetails.batteryMaH}}</h4>
    <h4 class="text-left">Price: {{promoDetails.price}}</h4>
    <button class="btn btn-success btn-lg ">Add to cart</button>
</div>
