<div class='productWrap'>

  <div class='imageWrap'>
    <a *ngIf='showUrls' [routerLink]="[product?.id]"><img src={{product?.imageUrl}}></a>
    <div *ngIf='!showUrls'><img src={{product?.imageUrl}}></div>
  </div>

  <div class='infoWrap'>
    <div class="title">
      <a *ngIf='showUrls' [routerLink]="[product?.id]">{{product?.name}}</a>
      <div *ngIf='!showUrls'>{{product?.name}}</div>
    </div>

    <ul class="productTextUl">
      <li>{{product?.model}} {{product?.brand}} ({{product?.year}})</li>
      <li>OS: {{product?.os}}</li>
      <li>Processor: {{product?.processor}}</li>
      <li>Memory: {{product?.memory}}, Storage: {{product?.storage}}</li>
      <li>Price: {{product?.price}} BGN</li>
      <li>Seller id: {{product?.ownerUsername}}</li>
    </ul>

    <div *ngIf='showUrls' class="buttonWrap">
      <a [routerLink]="[product?.id]" class="btn btn-primary btn-sm btn-block" role="button">Details</a>
      <a *ngIf='user === product.ownerUsername' [routerLink]="['/edit', product?.id]" class="btn btn-primary btn-sm btn-block" role="button">Edit</a>
    </div>

  </div>

</div>
