<div class="text-center">
    <h1>Products</h1>
    <hr>
</div>

<div class="col-md-6">
    <ul class='productUl'>
        <li *ngFor="let productOdd of productsOdd">
            <app-list-product-element [product]='productOdd'></app-list-product-element>
        </li>
    </ul>
</div>

<div class="col-md-6">
    <ul class='productUl'>
        <li *ngFor="let productEven of productsEven">
            <app-list-product-element [product]='productEven'></app-list-product-element>
        </li>
    </ul>
</div>