<div class="col-md-12">

    <h1>Cart products</h1>

    <p *ngIf="totalPrice === 0">Your cart is empty. Please add first product.</p>

    <ul class="cartProductsUl list-group row">
        <li *ngFor="let product of cartProducts" class="col-xs-4">
            <app-list-product-element [product]='product' [showUrls]=false></app-list-product-element>
            <button class="btn btn-danger btn-sm removeBtn" (click)="removeProduct(product)">Remove</button>
        </li>
    </ul>
    
    <div class="summaryWrap">
        <div class="sumWrap">Total price: {{totalPrice}} BGN</div>
        <a *ngIf="totalPrice !== 0" [routerLink]="['/cart/check-out']" class="btn btn-success btn-md">Proceed to check out</a>
    </div>
    
<div>
