<div class="topnav" id="myTopnav">
    <a href="home">Home</a>
    <a href="products">Products</a>
    <a href="add-edit-product">Add/Edit product</a>
    <a href="profile ">Profile</a>
    <a href="history">Order history</a>
    <a href="check-out">Check out</a>
    <a href="about">About</a>
    <a href="cart" class="nav navbar-nav navbar-right cart">
        <img src="http://www.inmotionhosting.com/support/images/stories/icons/ecommerce/empty-cart-light.png">
    </a>
    <a href="login" class="nav navbar-nav navbar-right">
        <span class="glyphicon glyphicon-log-in"></span> Login
    </a>
    <a href="sign-up" class="nav navbar-nav navbar-right">
        <span class="glyphicon glyphicon-user"></span> Sign up
    </a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>