<div class="topnav" id="myTopnav">
    <a href="home">Home</a>
    <a href="products">Products</a>
    <a href="#about">About</a>
    <a href="sign-up" class="nav navbar-nav navbar-right">
        <span class="glyphicon glyphicon-user"></span> Sign up
    </a>
    <a href="login" class="nav navbar-nav navbar-right">
        <span class="glyphicon glyphicon-log-in"></span> Login
    </a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<!-- li.button
form(action="/auth/sign-up" method="get")
    button.btn-link
        span.glyphicon.glyphicon-user 
        | Sign up
li.button
form(action="/auth/login" method="get")
    button.btn-link
        span.glyphicon.glyphicon-log-in 
        | Login -->